/* body {
  margin: 0;
} */


html,
body,
#app,
#app>div {
  height: 100%;
}

/* body {
  background: linear-gradient(122deg, rgba(218, 216, 240, 1) 10%, rgba(233, 230, 247, 1) 10%, rgba(201, 219, 226, 1) 85%, rgba(217, 231, 233, 1) 85%);
} */