.navButton,
.homeButton {
  border: 2px solid #010100;
  border-radius: 5px;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
}

.homeButton::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.navButton:hover::before,
.homeButton:hover::before {
  transform: scaleY(0);
}

.homeButton:hover {
  background-color: #000000;
  color: #ffffff;
}

.navButton {
  padding: 2px 10px;
  text-align: center;
  transition: margin 0.5s ease-in-out;
}

.navButton::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
}

.navButton a {
  text-decoration: none;
  color: black;
}

.navButton:hover {
  margin: 0 10px;
  border: 2px solid red;
}

.actionButton {
  padding: 5px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.5s ease-in-out;
}

.actionButton::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 0%;
  background-color: #000;
  transition: all 0.5s ease-in-out;
}

.actionButton:hover::before {
  height: 100%;
}

.actionButton:hover {
  color: #fff;
}

.activeProtoButton {
  border: 2px solid #010100;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 5px;
}

.activeProtoButton::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  color: #000;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  transform: scaleY(1);
}

.activeProtoButton:hover {
  background-color: #000000;
  color: #ffffff;
}

.activeProtoButton:hover::before {
  transform: scaleY(0);
}

.activeProtoButtonSelected {
  border: 2px solid #000000;
  background-color: #000000;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 5px;
}

.protoButton {
  /* padding: 0 5px; */
  color: #000;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.protoButton::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 5%;
  border-bottom: 2px solid #000;
  transition: all 0.3s ease-in-out;
}

.protoButton:hover::before {
  width: 100%;
}

.protoButtonSecondary {
  color: 'red'
}